.venv/
__pycache__/
.DS_Store
auction-crawler/cache/
auction-crawler/logs/
auction-crawler/output/
auction-viewer/.next/
auction-viewer/cache/
auction-crawler/database/
!auction-viewer/database/
!auction-viewer/database/auction_data.db
auction-crawler/chromedriver/
auction-viewer/node_modules/
chromedriver-mac-arm64/
output/
cache/
logs/
auction-database/cache/
auction-database/logs/
auction-database/output/
!auction-database/database/auction_data.db
*.log
